* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* font-family: "Silkscreen", cursive; */
}

body {
  background-color: rgb(236, 223, 200);
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 10%;
  display: flex;
  background-color: transparent;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
.header .logo {
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
  color: #21418f;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #21418f;
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s;
  margin-left: 35px;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: #da8304;
}

#home {
  display: flex;
  /* background-image: url(assets/karakter-org.jpg);
  background-repeat: no-repeat; */
  height: 100vh;
  align-items: center;
  padding: 0 10%;
  justify-content: space-between;
}

#home .home-content {
  max-width: 600px;
}

#home .home-content h1 {
  font-size: 56px;
  color: #21418f;
  font-weight: 700;
}

#home .home-content h3 {
  font-size: 32px;
  color: #da8304;
  font-weight: 700;
}

#home .home-content p {
  font-size: 16px;
}

.karakter-img img {
  width: 350px;
  border-radius: 50%;
  box-shadow: rgba(33, 33, 90, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.icon-font {
  position: absolute;
  bottom: 40px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.icon-font a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #21418f;
  border-radius: 50%;
  font-size: 20px;
  color: #21418f;
  text-decoration: none;
}
/* ============== ABOUT ============== */

#about {
  align-items: center;
  padding: 7% 10%;
  height: 100vh;
}

/* #about .container {
  margin: 50px 0px 50px 0px;
} */

#about .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(33, 33, 90, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #21418f;
}

.tab-titles {
  display: flex;
  margin: 20px 0px 40px;
}

.tab-titles .tab-links {
  margin-right: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-titles .tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #da8304;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #da8304;
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* Portfolio */
#portfolio {
  padding: 7% 10%;
  height: 100vh;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 95%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 95%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #da8304);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20 40px;
  text-align: center;
  font-size: 14px;
  color: antiquewhite;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #21418f;
  text-decoration: none;
  font-size: 16px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #da8304;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background: #983007;
}

/* Article */
.bagian-article {
  padding: 7% 10%;
  height: 100vh;
}

.container-article {
  margin-top: 50px;
  padding-bottom: 30px;
}

.judul {
  width: 35%;
}

.pencil-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #da8304;
  text-align: center;
}

.pencil-icon i {
  font-size: 24px;
  color: #983007;
  margin: 5px auto;
}

.header-blog {
  color: #983007;
  margin-top: 15px;
}
.judul p {
  font-size: 12px;
  padding: 5px 0px;
}

.my-article {
  width: 100%;
  margin: 20px 0px;
}

.my-article .article-1 {
  padding: 5px;
  /* background-color: #21418f; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.judul-article-1 {
  padding: 10px;
}
.my-article .article-1:hover {
  cursor: pointer;
  background-color: #21408f8c;
  transition: background-color 0.6s ease;
  color: #983007;
}
.my-article .article-2 {
  padding: 5px;
  /* background-color: #21418f; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.judul-article-2 {
  padding: 10px;
}
.my-article .article-2:hover {
  cursor: pointer;
  background-color: #21408f8c;
  transition: background-color 0.6s ease;
  color: #983007;
}
.my-article .article-3 {
  padding: 5px;
  /* background-color: #21418f; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.judul-article-3 {
  padding: 10px;
}
.my-article .article-3:hover {
  cursor: pointer;
  background-color: #21408f8c;
  transition: background-color 0.6s ease;
  color: #983007;
}

.my-article .article-4 {
  padding: 5px;
  /* background-color: #21418f; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.judul-article-4 {
  padding: 10px;
}
.my-article .article-4:hover {
  cursor: pointer;
  background-color: #21408f8c;
  transition: background-color 0.6s ease;
  color: #983007;
}

hr {
  border: 1px solid #060505;
}
